{% extends "_includes/default.njk" %}

{% block title %}Vais Mahendran{% endblock %}

{% block content %}
  <div class="max-w-2xl mx-auto">
    <h2 class="text-3xl font-bold my-6">Vais Mahendran</h2>
    <p class="my-2 text-lg">I'm an average software developer who likes hockey a lot.</p>
    <p class="my-2 text-lg">Praesent eget viverra est, et laoreet mauris. Aenean quis nibh cursus, scelerisque magna ac, egestas ex. Sed vulputate, ex non eleifend mollis, dui nibh auctor libero, sit amet aliquet augue ex a neque.</p>
    <h2 class="text-2xl font-bold my-6">Contact</h2>
    <ul class="list-disc list-inside text-lg">
      <li class="ml-3">Reach me anytime: <a class="text-emerald-800 hover:text-emerald-600" href="#">vais.mahendran@gmail.com</a></li>
      <li class="ml-3">Follow me on twitter: <a class="text-emerald-800 hover:text-emerald-600" href="https://twitter.com/m_vais">m_vais</a></li>
      <li class="ml-3">Watch me on twitch: <a class="text-emerald-800 hover:text-emerald-600" href="https://www.twitch.tv/captnfox">captnfox<a></li>
    </ul>
    <h2 class="text-2xl font-bold my-6">Projects</h2>
    <p class="my-2 text-lg">Coming Soon ...</p>
    <h2 class="text-2xl font-bold my-6">Writing</h2>
    <p class="my-2 text-lg">Coming Soon ...</p>
  </div>
{% endblock %}
