.btn {
    background-color: #55bd69;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-family: Proxima Nova,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    line-height: 1;
    padding: .75em 1em;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    outline: none;
    font-weight: bold;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.btn:hover {
    opacity: .80;
}

.btn-blue {
    background-color: #34495e;
}

.btn-blue:hover {
    background-color: #415b76;
}
