@import '_reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Helvetica Neue', sans-serif
}

h1, h2, h3, h4, h5 {
  font-family: 'Bitter';
}

nav {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 55px;
  max-width: 800px;
  margin: auto;
  justify-content: space-between;
}

nav .links a {
  padding: .75rem;
  margin: 0 .25rem;
  color: rgba(0,0,0,.6);
  line-height: 1.2;
  text-align: center;
  border-radius: 6px;
}

nav .links a:hover {
  color: #111;
  background: rgba(0,0,0,.05);
}

.container {
  max-width: 800px;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}
