@import '_reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Helvetica Neue', sans-serif
}

h1, h2, h3, h4, h5 {
  font-family: 'Bitter';
}

.container {
  max-width: 800px;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}
