---
layout: layouts/base.njk
title: Articles
---
<div class="container">
    <h1>Articles</h1>

    <div class="input-holder">
        <input type="text" id="article-filter" placeholder="Type here to filter posts ... ">
    </div>

    <ul id="articles">
    </ul>
</div>
