---
layout: layouts/base.njk
title: About
---
<div class="container">
    <h1>About Me</h1>
    <p>
        I'm Vais Mahendran, a full-stack developer.
    </p>

    <p>
        I hope to use this blog as a way of documenting the things I learn more about such as hockey
        analytics, game theory, and random other things that pop into my head.
    </p>

    <a href="/articles/">View Articles</a>
</div>
